BASE_URL=https://www.automationanywhere.com/products/enterprise/community-edition
USERNAME=binduchandanamnaidu@gmail.com
PASSWORD=Ch@siva666
TEST_TIMEOUT_MS=60000
EXPECT_TIMEOUT_MS=10000
ACTION_TIMEOUT_MS=20000
NAVIGATION_TIMEOUT_MS=30000
RETRIES=1
BROWSER=chromium
HEADLESS=true
